<form action=<%= url %> method="post">
  <% if action == "Edit" %>
    <input type="hidden" name="_method" value="patch">
  <% end %>
  <input type="hidden" name="authenticity_token" value="<%= form_authenticity_token %>">

  <label>Name <input type="text" name="cat[name]" value="<%= cat.name %>"></label>

  <br>
  <br>

  <label>Sex</label>
  <label>M
    <input type="radio" name="cat[sex]" value="M" <%= 'checked' if cat.sex == "M" %>>
  </label>
  <label>F
    <input type="radio" name="cat[sex]" value="F" <%= 'checked' if cat.sex == "F" %>>
  </label>

  <br>
  <br>

  <label>Color
    <select name="cat[color]">
      <option></option>
      <% Cat::COLORS.each do |color| %>
        <option value="<%=color%>" <%= 'selected' if cat.color == color %>>
          <%=color.capitalize%>
        </option>
      <% end %>
    </select>
  </label>

  <br>
  <br>

  <label>Birth Date
    <input name="cat[birth_date]" type="date" value="<%=cat.birth_date%>">
  </label>

  <br>
  <br>

  <label>Description
    <textarea name="cat[description]" rows="4" cols="20"></textarea>
  </label>

  <br>
  <br>

  <input type="submit" value="<%= action %> Cat!">
</form>
<br>
<%= link_to 'Back to all cats', cats_url %>
