<!DOCTYPE html>
<html>
<head>
  <title>NinetyNineCats</title>
    <%= csrf_meta_tags %>
</head>
<body>
<% if current_user %>
<%= "Hello #{current_user.user_name}" %>
<% else %>
<%= link_to('Log in!', new_session_url) %>
<%= link_to('Sign up!', new_user_url) %>
<% end %>
<br>
<%= button_to 'Log Out', session_url, method: :delete if current_user %>
<%= yield %>

</body>
</html>
